esphome:
  name: ${device_name}

esp8266:
  board: d1_mini
  restore_from_flash: true

preferences:
  flash_write_interval: 10min

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  ap:
    ssid: ${device_name}-hotspot
    password: !secret hotspot_password

captive_portal:

logger:
  baud_rate: 0

api:

ota:
  platform: esphome

i2c:
  scl: D1
  sda: D2
  scan: true

button:
- platform: restart
  name: "${device_name}-restart"
  entity_category: config
- platform: factory_reset
  name: "${device_name}-factory-reset"
  id: Reset
  entity_category: config
- platform: safe_mode
  name: "${device_name}-safe-mode"
  internal: false
  entity_category: config

