esphome:
  name: ${device_name}

esp8266:
  board: d1_mini

preferences:
  flash_write_interval: 10min

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  fast_connect: true
  power_save_mode: none
  reboot_timeout: 15min

  ap:
    ssid: ${device_name}-hotspot
    password: !secret hotspot_password

captive_portal:

logger:
  baud_rate: 0

api:

ota:
  platform: esphome

i2c:
  scl: D1
  sda: D2
  scan: true

button:
- platform: restart
  name: "${device_name}-reset"